/* General reset */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 4px solid #f4b41a;
}

/* Navigation styling */
nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
    border-radius: 5px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #973131;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 4px solid #973131;
}

/* Properties Page Styling */
.properties-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.property {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    padding: 15px;
    text-align: center;
}

.property img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.property h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.property p {
    margin: 5px 0;
}

.property p strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .properties-container {
        flex-direction: column;
        align-items: center;
    }

    .property {
        width: 80%;
    }
}
